.App {
  text-align: center;
  margin: 0 15px;
  background: #ccf;
  padding: 15px;
  border-radius: 8px;
}
.family-bios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.float-right {
  float: right;
}
article.person {
  padding: 1rem;
  text-align: left;
  border: 1px solid #888;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 80px;

  section {
    .edit-btn {
      float: right;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    h3 {
      margin: 0;
    }
    h4 {
      font-weight: lighter;
      margin: 0;
      font-size: 80%;
    }
    .delete {
      background: #b22;
      color: #fff;
      font-weight: bold;
      font-size: 1.25rem;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: lighten($color: #b22, $amount: 20%);
      }
    }
  }

  aside img {
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid #888;
  }
}
